
@font-face {
  font-family: 'CarterOne';
  src: url('../fonts/CarterOne.ttf');
  src: url('../fonts/CarterOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Regular'),
    local('Roboto-Regular'),
    url(../fonts/Roboto-Regular.ttf) format('truetype');
}


.correct{
  color:green;
}

.wrong {
  color:red;
}

.quizoperation {
  font-size: 34px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 0 0 #3a230a, -2px 0 0 #3a230a, 0 2px 0 #3a230a, 0 -2px 0 #3a230a, 1px 1px #3a230a, -1px -1px 0 #3a230a, 1px -1px 0 #3a230a, -1px 1px 0 #3a230a;
}


.ui-page, .ui-mobile-viewport {
    background: transparent url(../img/bg.png);
    background-size: contain !important;
    font-family: 'CarterOne';
    color: #3a230a;
    /*text-shadow: 0  1px  0  #fff;*/
}


.welcome-message{
	background: transparent url(../img/welcome.png) center no-repeat !important;
	background-size: contain !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  border: 0 none !important;
  height: 179px;
  margin-top: -40px;
}




.jqm-demos .jqm-header {
	background: #a5e24d;
	border-top: 4px solid #439043;
	border-bottom-color: #27AE60;
}


.jqm-demos .jqm-header h2 {
	padding: .4em 0 .1em;
	margin: 0 3em;
}
.jqm-demos .jqm-header h2 a {
	display: inline-block;
	text-decoration: none;
	min-height: 40px;
}
.jqm-demos .jqm-header h2 img {
	display: block;
	width: 140px;
	height: auto;
}
.jqm-demos .jqm-header h2 > img {
	display: inline-block;
}
.jqm-demos .jqm-header p {
	position: absolute;
	bottom: -2em;
	left: 1em;
	margin: 0;
	color: #666;
	font-family: 'Roboto';
	font-weight: 300;
	text-transform: uppercase;
}



/* Content */
.jqm-demos .jqm-content {
	padding-top: 3em;
}
.jqm-demos .jqm-content > h1,
.jqm-demos .jqm-content > h2,
.jqm-demos .jqm-content > h3,
.jqm-demos .jqm-content > p,
.jqm-demos .jqm-content > ul li,
.jqm-demos .jqm-content > a {
	font-family: 'CarterOne', sans-serif;
	font-weight: 300;
}
.jqm-demos .jqm-content > h1 {
	font-size: 2.4em;
	margin: 0 0 .625em;
}
.jqm-demos .jqm-content > h2 {
	color: #3eb249;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
	font-size: 1.6em;
	padding-bottom: .2em;
	margin: 0 0 .7375em;
}
.jqm-demos .jqm-content > h3 {
	color: #3eb249;
	background-color: transparent;
	font-size: 1.4em;
	margin: 0 0 1em;
}
.jqm-demos .jqm-content > p {
	font-size: 1.2em;
	line-height: 1.5;
}
.jqm-demos .jqm-content > ul:not(.jqm-list) li {
	font-size: 1.2em;
	line-height: 1.5;
}
.jqm-demos .jqm-content > p {
	margin: 0 0 1.25em;
}
.jqm-demos .jqm-content > ul,
.jqm-demos .jqm-content > ol {
	padding-left: 1.3em;
}
.jqm-demos .jqm-content > .ui-listview {
	padding-left: 0;
}
.jqm-demos .jqm-content > a,
.jqm-demos .jqm-content > p a,
.jqm-demos .jqm-content > ul:not(.jqm-list) li a {
	font-weight: 400;
	text-decoration: none;
}
.jqm-demos .jqm-content strong {
	font-weight: 700;
}
.jqm-demos .jqm-content > p strong {
	font-weight: 400;
}

.jqm-demos .jqm-content .ui-listview li a{
	font-family: 'CarterOne';
    color: #3a230a;
    font-size: 21px;
}



@media (min-width: 60em) {
	.jqm-demos .jqm-header h2 {
		padding: 1em 0 .7em;
		margin: 0 1em 0 3%;
		text-align: left;
	}
	.jqm-demos .jqm-header h2 img {
		width: 275px;
		height: 78px;
	}
	.jqm-demos .jqm-header p {
		bottom: auto;
		left: auto;
		top: 50%;
		right: 15%;
		font-size: 1.2em;
		margin-top: -.625em;
	}
	.jqm-demos .jqm-footer p {
		float: right;
		margin: 1.5em 3% 1.5em 1.5em;
	}
}

@media (min-width: 35em) {
	.jqm-block-content {
		min-height: 18em;
	}
}

.start-button, .ui-btn .start-button  {
  background: transparent url(../img/start.png) center no-repeat !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  border: 0 none !important;
  height: 45px;
}

.start-button .ui-btn-inner {
  background: transparent url(../img/start.png) center no-repeat !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 45px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.start-button .ui-icon {
  display: none;
}


.author-button, .ui-btn .author-button  {
  background: transparent url(../img/author.png) center no-repeat !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  border: 0 none !important;
  height: 45px;
}

.author-button .ui-btn-inner {
  background: transparent url(../img/author.png) center no-repeat !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 45px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.author-button .ui-icon {
  display: none;
}

.quit-button, .ui-btn .quit-button  {
  background: transparent url(../img/quit.png) center no-repeat !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  border: 0 none !important;
  height: 45px;
}

.quit-button .ui-btn-inner {
  background: transparent url(../img/quit.png) center no-repeat !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 45px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.quit-button .ui-icon {
  display: none;
}


.play-button, .ui-btn .play-button  {
  background: transparent url(../img/play2.png) center no-repeat !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  border: 0 none !important;
  height: 45px;
}

.play-button .ui-btn-inner {
  background: transparent url(../img/play2.png) center no-repeat !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 45px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.play-button .ui-icon {
  display: none;
}


.submit-button, .ui-btn .submit-button  {
  background: transparent url(../img/submit2.png) center no-repeat !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  border: 0 none !important;
  height: 45px;
}

.submit-button .ui-btn-inner {
  background: transparent url(../img/submit2.png) center no-repeat !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 45px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.submit-button .ui-icon {
  display: none;
}









.lesson-button, .ui-btn .lesson-button  {
  background: transparent url(../img/option.png) center no-repeat !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  border: 0 none !important;
  height: 45px;
}

.lesson-button .ui-btn-inner {
  background: transparent url(../img/option.png) center no-repeat !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 45px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.lesson-button .ui-icon {
  display: none;
}


.close-button, .ui-btn .close-button  {
  background: transparent url(../img/close.png) center no-repeat !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  border: 0 none !important;
  height: 45px;
}

.close-button .ui-btn-inner {
  background: transparent url(../img/close.png) center no-repeat !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 45px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.close-button .ui-icon {
  display: none;
}

.yes-button, .ui-btn .yes-button  {
  background: transparent url(../img/yes.png) center no-repeat !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  border: 0 none !important;
  height: 45px;
}

.yes-button .ui-btn-inner {
  background: transparent url(../img/yes.png) center no-repeat !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 45px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.yes-button .ui-icon {
  display: none;
}


.no-button, .ui-btn .no-button  {
  background: transparent url(../img/no.png) center no-repeat !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  border: 0 none !important;
  height: 45px;
}

.no-button .ui-btn-inner {
  background: transparent url(../img/no.png) center no-repeat !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 45px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.yes-button .ui-icon {
  display: none;
}


.back-button, .ui-header .back-button  {
  background: transparent url(../img/back.png) 0 0 no-repeat !important;
  background-size: cover !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  	border: 0 none !important;
  	height: 20px;
	width: 12px;
}

.back-button .ui-btn-inner {
  background: transparent url(../img/back.png) right 0 no-repeat !important;
  background-size: cover !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 20px;
	width: 12px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.back-button .ui-icon {
  display: none;
}

.option-button, .ui-header .option-button  {
  background: transparent url(../img/option.png) 0 0 no-repeat !important;
  background-size: cover !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  	border: 0 none !important;
  	height: 20px;
	width: 12px;
}

.option-button .ui-btn-inner {
  background: transparent url(../img/option.png) right 0 no-repeat !important;
  background-size: cover !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 20px;
	width: 12px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.option-button .ui-icon {
  display: none;
}


.sound-button, .ui-header .sound-button  {
  background: transparent url(../img/sound.png) 0 0 no-repeat !important;
  background-size: cover !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  	border: 0 none !important;
  	height: 20px;
	width: 12px;
}

.sound-button .ui-btn-inner {
  background: transparent url(../img/sound.png) right 0 no-repeat !important;
  background-size: cover !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 20px;
	width: 12px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.sound-button .ui-icon {
  display: none;
}

.reload-button, .ui-header .reload-button  {
  background: transparent url(../img/reload.png) 0 0 no-repeat !important;
  background-size: cover !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
    border: 0 none !important;
    height: 20px;
  width: 12px;
}

.reload-button .ui-btn-inner {
  background: transparent url(../img/reload.png) right 0 no-repeat !important;
  background-size: cover !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 20px;
  width: 12px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.reload-button .ui-icon {
  display: none;
}